.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: var(--bs-light);
  --bs-accordion-active-color: var(--bs-dark);
}

/* ------------------------------------------ */
/* Site */
body {
  margin-bottom: 4rem;
}

footer {
  position: fixed;
  height: 3rem;
  bottom: 0;
  background: var(--bs-body-bg);
}

a {
  text-decoration: none !important;
}

.form-floating>.form-control {
  height: fit-content;
}

.clickable {
  cursor: pointer;
}

textarea {
  field-sizing: content;
  resize: none;
}

/* ------------------------------------------ */
/* Menu */
.collapse.navbar-collapse {
  overflow: auto;
}

/* ------------------------------------------ */
/* Modal */
.modal-dialog {
  max-width: unset;
  margin: 1rem;
}

#demoModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bs-body-bg);
  z-index: 1000;
  overflow: auto;
}

#demoModal .modal-header {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  background: var(--bs-body-bg);
  border-radius: 0;
}

#demoModal .modal-body {
  margin-top: 3rem;
}


/* ------------------------------------------ */
/* Sort */
.ui-state-default {
  cursor: move;
}

.ui-state-default:hover {
  color: #fff !important;
  background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* ------------------------------------------ */
/* Pre */
pre {
  position: relative;
  padding: 1rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

pre code {
  display: block;
  margin-top: 1rem;
  padding-bottom: .5rem;
  overflow: auto;
}

/* ------------------------------------------ */
/* Bootstrap table */
.bootstrap-table .fixed-table-container .fixed-table-body {
  height: auto;
}

.filter-control input {
  width: -webkit-fill-available !important;
  margin: 1rem;
  margin-top: 0;
}

/* ------------------------------------------ */
/* ice */
.editor {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  font-size: 1rem;
  position: absolute;
  top: 8rem;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

/* ------------------------------------------ */
/* Link */
.Link__card {
  height: 40px;
  cursor: pointer;
}

.Link__card .col:last-child {
  width: 1;
}

.Link__card .col div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Link__img {
  height: 20px;    
  position: absolute;
  margin-top: 10px;
  width: fit-content;
}

.Link>.row:has(.workspaceLock) {
  padding-right: 42px;
}

/* ------------------------------------------ */
/* ScrollBar */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bs-body-bg);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--bs-body-bg);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--bs-body-bg);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--bs-body-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-body-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--bs-body-color);
}